body {
  cursor: default;
}
header .level {
  justify-content: flex-start;
}
header figure {
  margin: 0 auto;
}
.comtran-avatar img {
  border-radius: 100%;
}
header .level-right {
  align-items: flex-start;
  flex-direction: column;
  margin-left: 1em;
}
header h2.subtitle {
  text-align: center
}
main {
  min-height: 50vh;
}
.member.container {
  padding: 2em 0;
}
.member .tile img {
  clip-path: inset(10px 0px 40px 0px);
  height: auto;
  margin-top: -10px;
  position: absolute;
}
.member .tile .card-footer a {
  color: #000;
  margin: 0 .5em;
}
section p {
  margin: 0 0 1em;
  text-align: justify;
}
section ol {
  padding: 0 1em;
}
footer .icons a {
  display: inline-block;
  margin: 0 .25em;
}
@media only screen and (max-width: 768px) {
  .member .tile img {
    clip-path: inset(10px 0px 180px 0px);
  }
}
@media only screen and (max-width: 640px) {
  .member .tile img {
    clip-path: inset(10px 0px 140px 0px);
  }
}
@media only screen and (max-width: 560px) {
  .member .tile img {
    clip-path: inset(10px 0px 120px 0px);
  }
}
@media only screen and (max-width: 480px) {
  .member .tile img {
    clip-path: inset(10px 0px 90px 0px);
  }
}
@media only screen and (max-width: 360px) {
  .member .tile img {
    clip-path: inset(10px 0px 60px 0px);
  }
}